.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	height: 7.5rem;
	border-style: solid;
	border-color: black;
	border-width: 0.3rem;
	margin-left: 6.8rem;
	margin-top: 2.5rem;
	padding: 0.5rem;

}

.Estoque{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-left: 6.5rem;
	width: 9rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	font-size: 1.5rem;
}

.Pedidos{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	margin-left: 6.5rem;
	width: 9rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	font-size: 1.5rem;
	color: black;
	text-decoration: none;
}

.Cozinha{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	margin-left: 6.5rem;
	width: 9rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.barra-inferior{
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: "black";
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.4rem;
}

.calendario{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3rem;
}

.sino{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}
