.marmita-box{
	display: flex;
	height: 4.8rem;
	width: 19rem;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.bloco-principal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.botao-mais{
	margin-right: 0.5rem;
}

.info{
	width: 3rem;
	height: 3rem;
}
.botao-menos{
	margin-left: 0.5rem;
}

.com{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
}

.com:active{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
}

.total{
	display: flex;
	align-items: center;
	text-align: center;
}

.marmita{
	width: 7rem;
	justify-content: center;
	text-align: center;
}

.entrega{
	width: 8.5rem;
	font-size: 1rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	margin-right: 1rem; 
}

.botao-mais,.botao-menos{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
}

.horario{
	width: 8.5rem;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	margin-left: 1rem;
}

.numero{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2.5rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: black;
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}


.bloco{
	display:flex;
	flex-direction: row;
	text-decoration: none;
	color: black;
	justify-content: center;
	align-items: center;
	padding-top: 1.3rem;
}

.confirm{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: gold;
	margin-left: 5.5rem;
	margin-right: 5.5rem;
	height: 2.5rem
}