
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
}

.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	color: #FFFFFF;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.test{
	height: 2rem;
	width: 2rem;
}
.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin-top: 0.25rem;
}

.subtitulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 2rem;
	border-style: solid;
	border-color: #95B0FF;
	border-width: 0.3rem;
	background-color: #95B0FF;
	color: #FFFFFF;
	margin-left: 3rem;
	margin-top: 1rem;
	font-size: 1rem;
}


.hoje-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 0.5rem;
	border-style: solid;
	border-color: black;
	background-color: #95B0FF;
	margin-top: 1rem;
	font-size: 2rem;
	font-family: 'Roboto Slab', serif;
}

.hoje-text{
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 5rem;
	border-style: solid;
	border-color: black;
	margin-left: 4rem;
	font-size:1rem;
}

.hoje1{
	font-size: 1.1rem;
	padding-top: 1rem;
	font-family: 'PT Sans', sans-serif;
}

.hoje2{
	font-size: 1.1rem;
	margin-top: 1rem;
	font-family: 'PT Sans', sans-serif;
}

.amanha-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 0.5rem;
	border-style: solid;
	border-color: black;
	background-color: #95B0FF;
	font-size: 2rem;
	margin-top: 1rem;
	font-family: 'Roboto Slab', serif;
}

.quinta-text{
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 3.2rem;
	border-style: solid;
	border-color: black;
	margin-left: 4rem;
	font-size:1rem;
}
