.marmita-box{
	display: flex;
	height: 4rem;
	width: 19rem;
	margin-bottom: 1rem;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.bloco-principal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.numero{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2.5rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: black;
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

.marmita{
	display: flex;
	width: 7rem;
	height: 2rem;
	justify-content: center;
	text-align: center;
	font-family: 'PT Sans', sans-serif;
	align-items: center;
}

.botao-info{
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
}

.bloco{
	text-decoration: none;
	color: black;
}

.botao-mais,.botao-menos{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
	background-color: #D9E9ED;
}

.info{
	width: 3rem;
	height: 3rem;
}

.com{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
	background-color: #D9E9ED;
}

.com:active{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
	background-color: #D9E9ED;
}

.total{
	display: flex;
	align-items: center;
	text-align: center;
}

