.logo-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	height: 7.5rem;
	margin-top: 2rem;
}

.bloco-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.Pedidos{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 5rem;
	font-size: 2rem;
	color: white;
	text-decoration: none;
	background-color: #95B0FF;
	flex-direction: column;
	margin: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
	font-family: 'PT Sans', sans-serif;
}

.barra-inferior{
	display: flex;
  	position: fixed;
  	width: 100%;
	justify-content: space-between;
  	bottom: 0rem;
	flex-direction: row;
	background-color: #313D78;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.3rem;
	margin: 0.45rem;
	width: 3.3rem;
	height: 3.3rem;
}

.marmitech{
	font-family: 'PT Sans', sans-serif;
	font-size: 2rem;
	margin: 0.5rem;
	font-weight: bold;
	color: #313D78;
}