.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin-top: 0.25rem;
}
.botao-info{
	height: 2rem;
	width: 2rem;
}

.bloco{
	display: flex;
	width: 25rem;
	height: 5rem;
	border-width: 0.3rem;
	border-color: #FFFFFF;
	background-color: #95B0FF;
	margin-top: 1rem;
	margin-left: 0.5rem;
	font-size: 1.5rem;
	text-decoration: none;
}

.hoje{
	display: flex;
	align-items: center;
	width: 15rem;
	height: 0.5rem;
	font-size: 2rem;
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 1.2rem;
	margin-left: 0.5rem;
	padding-top: 1.5rem;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
}

.seta{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 3rem;
	color: black;
	margin-top: 0.7rem;
	margin-left: 1.8rem;
}

.bloco2{
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 5rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: #95B0FF;
	background-color: #95B0FF;
	margin-left: 1rem;
	margin-top: 2rem;
	text-decoration: none;
	color: black;
}


.text{
	width: 15rem;
	height: 2rem;
	margin-left: -5rem;
	margin-top: 0.5rem;
	font-size: 1.6rem;
	text-decoration: none;
	color: black;
	font-family: 'PT Sans', sans-serif;
}
