html {
}

body {
    font-family: sans-serif;
    background-color: #F2F2F2;
}

header {
	background-color: #F2F2F2;
}
iframe {
    background-color: #FFFFFF;
}

/* comum para todos*/

/*nav*/
.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #313D78;
}

.logo,.cozinha,.menu{
	justify-content: space-between;
	padding: 0.25rem;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	background-color: #313D78;
}
.back{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.7rem;
	margin-top: 0.2rem;
	height: 2rem;
	width: 2rem;
}

.nav-index{
	display: flex;
	flex-direction: row;
  	justify-content: flex-end;
  	margin: 1rem;
  	background-color: #F2F2F2;
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	background-color: #313D78;
}


.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 2rem;
	color: #FFFFFF;
	font-family: 'Roboto Slab', serif;
}
/*footer*/
.barra-inferior{
	display: flex;
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	justify-content: space-between;
  	bottom: 0rem;
	flex-direction: row;
	background-color: #313D78;
	border-color: #313D78;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.3rem;
	margin: 0.3rem;
	width: 3rem;
	height: 3rem;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.test{
	height: 2rem;
	width: 2rem;
}