html {
}

body {
    font-family: sans-serif;
    background-color: #F2F2F2;
}
footer {
	background-color: #ffffff;
}
header {
	background-color: #F2F2F2;
}
iframe {
    background-color: #ffffff;
}

/* comum para todos*/

/*nav*/
.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #95B0FF;
}

.logo,.cozinha,.menu{
	justify-content: space-between;
	padding: 0.25rem;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
}
.back{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.7rem;
	margin-top: 0.2rem;
	height: 1.5rem;
	width: 1.5rem;
}

.nav-index{
	display: flex;
	flex-direction: row;
  	justify-content: flex-end;
  	margin: 1rem;
  	background-color: #F2F2F2;
}
.nav{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
	background-color: #95B0FF;
}


.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 2rem;
	color: #FFFFFF;
}
/*footer*/
.barra-inferior{
	display: flex;
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	justify-content: space-between;
  	bottom: 0rem;
	flex-direction: row;
	background-color: #95B0FF;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.3rem;
	margin: 0.3rem;
	width: 3rem;
	height: 3rem;
}
