.marmita-box{
	display: flex;
	height: 4.8rem;
	width: 19rem;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.bloco-principal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.botao-mais{
	margin-right: 0.5rem;
}

.botao-menos{
	margin-left: 0.5rem;
}

.botao-mais,.botao-menos{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
}

.numero{
	display: flex;
	align-items: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

.marmita{
	width: 7rem;
	justify-content: center;
	text-align: center;
}

.entrega{
	margin-top: 1.85rem;
	margin-left: 0.8rem;
	width: 20rem;
	height: 4rem;
	font-size: 2rem;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.horario{
	margin-left: 0.8rem;
	width: 20rem;
	height: 4rem;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
}


.linha{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 22.2rem;
	height:0.000001rem;
	border-style: solid;
	border-width: 0.15rem;
	border-color: "black";
}

.bloco{
	text-decoration: none;
	color: black;
}
