
.barra-inferior{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: #95B0FF;
	background-color: #95B0FF;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.4rem;
}

.calendario{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3rem;
}

.sino{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: #95B0FF;
	background-color: #95B0FF;
}

.logo,.cozinha,.menu{
	justify-content: space-between;
	padding: 0.25rem;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
}

.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 1.5rem;
	color: #FFFFFF;
}


.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin-top: 0.25rem;
}

.subtitulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 2rem;
	border-style: solid;
	border-color: #95B0FF;
	border-width: 0.3rem;
	background-color: #95B0FF;
	color: #FFFFFF;
	margin-left: 3rem;
	margin-top: 1rem;
	font-size: 1rem;
}

.hoje,.amanha,.quarta,.quinta{
}

.hoje-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 0.5rem;
	border-style: solid;
	border-color: black;
	background-color: #95B0FF;
	margin-top: 1rem;
	font-size: 2rem;
}

.hoje-text{
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 5rem;
	border-style: solid;
	border-color: black;
	margin-left: 4rem;
	font-size:1rem;
}

.hoje1{
	font-size: 1.1rem;
	padding-top: 1rem;
}

.hoje2{
	font-size: 1.1rem;
	margin-top: 1rem;
}

.amanha-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22.5rem;
	height: 0.5rem;
	border-style: solid;
	border-color: black;
	background-color: #95B0FF;
	font-size: 2rem;
	margin-top: 2rem;
}

.quinta-text{
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 3.2rem;
	border-style: solid;
	border-color: black;
	margin-left: 4rem;
	font-size:1rem;
}
