.marmita-box{
	display: flex;
	height: 4.8rem;
	width: 19rem;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.bloco-principal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.botao-mais{
	margin-right: 0.5rem;
}

.botao-menos{
	margin-left: 0.5rem;
}

.botao-mais,.botao-menos{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: gray;
	font-size: 1rem;
	color: black;
	border-radius: 2rem;
}

.numero{
	display: flex;
	align-items: center;
	height: 2rem;
	width: 2rem;
	border-style: solid;
	border-width: 0.05rem;
	border-color: black;
	font-size: 1.5rem;
	font-weight: bold;
}

.marmita{
	width: 7rem;
	justify-content: center;
	text-align: center;
}

.botao-info{
	display: flex;
	align-items: center;
	justify-content: center;
}

.info-img{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
}

.bloco{
	text-decoration: none;
	color: black;
}



