.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	height: 7.5rem;
	padding: 0.5rem;
	margin-top: 4rem;
}


.Pedidos{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 5rem;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	background-color: #95B0FF;
	font-weight: bold;
	flex-direction: column;
	margin: 0.5rem;
}

.barra-inferior{
	display: flex;
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
	justify-content: space-between;
  	bottom: 0rem;
	flex-direction: row;
	background-color: #95B0FF;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.4rem;
	margin: 0.5rem;
}

.calendario{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3rem;
}

.sino{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.bloco-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.nav{
	display: flex;
	flex-direction: row;
  	justify-content: flex-end;
  	margin: 1rem;
  	background-color: #F2F2F2;
}

