.logo-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7.5rem;
	height: 7.5rem;
	padding: 0.5rem;
	margin-top: 4rem;
}

.bloco-principal{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.nav-index{
	display: flex;
	flex-direction: row;
  	justify-content: flex-end;
  	margin: 1rem;
  	background-color: #F2F2F2;
}

.Pedidos{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 5rem;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	background-color: #95B0FF;
	font-weight: bold;
	flex-direction: column;
	margin: 0.5rem;
}