.barra-inferior{
	margin-top: 8.2rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.4rem;
}

.calendario{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3rem;
}

.sino{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: "black";
}

.logo,.cozinha,.menu{
	justify-content: space-between;
	padding: 0.25rem;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
}

.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 2rem;
	color: black;
}


.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin-top: 0.25rem;
}

.disponivel{
	display: flex;
	width: 20rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: white;
	margin-top: 1rem;
	margin-left: 1rem;
	text-decoration: none;
	color: black;
}

.indisponivel{
	display: flex;
	width: 20rem;
	height: 3rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: white;
	margin-top: 1rem;
	margin-left: 1rem;
	text-decoration: none;
	color: black;
}

.estoque{
	display: flex;
	align-items: center;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
	font-weight: bold;
}


.bloco2{
	padding-bottom: 1rem;
	justify-content: center;
	align-items: center;
	width: 20rem;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.bloco-medio{
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 2.75rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.bloco-disponivel{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: green;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.bloco-indisponivel{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: red;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}


.text{
	width: 12rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
}

.texto-resumo{
	width: 10rem;
	text-align: center;
	margin-top: 0.5rem;
	font-size: 1.5rem;
}

.linha{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 22.2rem;
	height:0.000001rem;
	border-style: solid;
	border-width: 0.15rem;
	border-color: "black";
}

.resumo{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.total{
	font-size: 1.5rem;
	padding: 0.5rem;
}
