
.barra-inferior{
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding: 0.4rem;
}

.calendario{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3rem;
}

.sino{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.carrinho{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;

}

.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: "black";
}

.logo,.cozinha,.menu{
	justify-content: space-between;
	padding: 0.25rem;
}

.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 3.5rem;
}

.titulo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 2rem;
	margin-top: 1rem;
	font-size: 2rem;
	color: black;
}


.menu{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	margin-top: 0.25rem;
}

.bloco{
	display: flex;
	width: 20rem;
	height: 5rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: white;
	margin-top: 1rem;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.hoje{
	display: flex;
	align-items: center;
	width: 5rem;
	height: 0.5rem;
	font-size: 2.5rem;
	text-decoration: none;
	color: black;
	margin-top: 1.8rem;
	margin-left: 0.5rem;
	padding-top: 1.5rem;
	font-weight: bold;
}

.seta{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 3rem;
	color: black;
	margin-top: 1.8rem;
	margin-left: 1.8rem;
}

.bloco2{
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 20rem;
	height: 21.6rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: gold;
	background-color: gold;
	margin-left: 1rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.bloco-medio{
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 2.75rem;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.bloco-pequeno{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: black;
	background-color: red;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.text{
	width: 12rem;
	height: 2rem;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-size: 1.4rem;
	text-decoration: none;
	color: black;
}
