.header{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: "black";
}

.logo,.centro,.menu{
	justify-content: space-between;
	padding-right: 1rem;
	margin-right: 4.5rem;
	padding-left: 0.75rem;
	padding-top: 1.3rem;
}

.logo{
	width: 1rem;
	height: 1rem;
	margin-top: 0rem;
	margin-left: 0rem;
}

.centro{
	width: 6rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 0.75rem;
	margin-left: 0.3rem;
}

.menu{
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 0.75rem;
	margin-left: 0.3rem;
}

.bloco{
	width: 12rem;
	height: 4.5rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 4rem;
	margin-left: 5rem;
}

.barra-inferior{
	margin-top: 4.6rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 21.85rem;
	height:4rem;
	border-style: solid;
	border-width: 0.3rem;
	border-color: "black";
}

.calendario,.sino,.carrinho{
	justify-content: space-between;
	padding-right: 1rem;
	margin-right: 4.5rem;
	padding-left: 0.75rem;
	padding-top: 1.3rem;
}

.calendario{
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 0.75rem;
	margin-left: 1.28rem;
}

.sino{
	width: 6rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 0.75rem;
	margin-left: 1.28rem;
}

.carrinho{
	width: 1rem;
	height: 1rem;
	border-style: solid;
	border-width: 0.1rem;
	border-color: gold;
	background-color: gold;
	margin-top: 0.75rem;
	margin-left: 1.28rem;
}